body {
    box-sizing: content-box;
}/*
.navbar>.container-fluid {
    justify-content: center;
}*/
.content {
    margin-top: 50px;
}
h2 {
    color: #5fb865;
}
.m-dark {
    background-color: #272b38;
    color: #ffffff;
}
.m-bright {
    background-color: #ddd;
    color: #000000;
}
.col-md-6 {
    position: relative;
}
.btn-primary {
    background-color: #5fb865;
    border-color: #5fb865;
}
.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    background-color: #5fb865;
    border-color: #5fb865;
}
.btn-primary:focus {
    box-shadow: 0 0 0 0.25rem rgba(95, 184, 101, 0.5);
}
.link-primary, .link-primary:active, .link-primary:focus {
    color: #5fb865;
}
.link-primary:hover {
    color: rgba(95, 184, 101, 0.75);
}


/*local*/
.a-intro {
    height: calc(100vh - 40px);
}
.a-cols {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 0;
    margin-left: 0;
}
.a-texts {
    font-size: 22px;
}
.a-link {
    display: block;
    margin: 3px 0 15px;
}
#videoElem {
    width: 45vh;
    height: 45vh;
    object-fit: cover;
}
.t-content {
    width: max-content;
}
@media only screen and (min-width: 992px) {
    .t-content {
        width: 100%;
    }
}